{% extends "pageAcceuil.html" %}

{% block login %}
    
    <div class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/cataloque/catalog.html">Mes réservation</a>
            <a class="dropdown-item" href="/logout">Deconection</a>
        </div>
    </div>
    <div style="width: 100px;">
        
    </div>
    
{% endblock %}