.partie01{
    position: relative;
    background-image: url(photo01.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
}

.periode {
    top: 10%;
    left: 59%;
    position: absolute;
    background-color: aliceblue;
    width: 500px;
    height: 490px;
    border-radius: 5%;
}


.form-select{
    position: absolute;
    top: 22%;
    left: 25%;
    width: 50%;
    height: 7%;
    background-color: transparent;
    border-color: gray;
}

.form-select1{
    position: absolute;
    top: 45%;
    left: 25%;
    width: 50%;
    height: 7%;
    background-color: transparent;
    border-color: gray;
}